 {% extends 'back.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <section id="my-account-area" class="pt-150 pb-150">
    <div class="container">
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <div class="my-account-form">
    <h1>Modifier un utilisateur</h1>
    {{ form(userForm) }}
    </div>
        <div class="wrapper">
        </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}