{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <section id="my-account-area" class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>modifer profil</h1>
                    <div class="my-account-form">
    {{ form(userForm) }}
    </div>
    <div class="wrapper">
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}